table {
        width: 100%;
        border-collapse: collapse;
        }
       tr {
            border: 1px;
            padding: 8px;
            text-align: center;
            }
            table { 
                color:black
            }
            tbody {
                border: 1px;
                padding: 8px;
                text-align: center;
                background-color: rgb(224, 224, 224);
            }
            tfoot {
                border: 1px;
                padding: 8px;
                text-align: center;
                background-color: rgb(224, 224, 224);
            }
            thead {
                border: 1px;
                padding: 8px;
                text-align: center;

            }     
